body {
    font-family: Arial, sans-serif;
    background-color: #f2f6ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* MAIN CARD */
.container {
    background-color: #CCCCFF(255, 255, 255, 0.329);
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* HEADINGS */
h2 {
    margin-bottom: 20px;
    color: #333;
}

/* FORM */
form {
    text-align: left;
}

/* LABELS */
label {
    font-size: 14px;
    font-weight: bold;
}

/* INPUTS */
input {
    width: 100%;
    padding: 8px;
    margin: 6px 0 15px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* BUTTON */
button {
    width: 100%;
    padding: 10px;
    background-color: #4f6df5;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #3c56d8;
}

/* LINK TEXT */
.link-text {
    margin-top: 15px;
    font-size: 14px;
}

a {
    color: #4f6df5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* MESSAGE */
#msg {
    margin-top: 10px;
    font-weight: bold;
}

